<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension="*" policy="DontCache" kernelCachePolicy="DontCache" duration="20:00:30" varyByQueryString="*" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
